@import "node_modules/bootstrap/scss/bootstrap";

.hero{
    height:400px;
    background: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.45)),url(../images/train.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    .hero-text {
        text-align: center;
        color: white;
        line-height: 5;
    }

    .hero-subtext {
    	text-align: center;
        color: white;
        font-size: 1.2em;
    }
}

.mbta-container {
    background-color:#ed8b00
}
